.footer{padding: 30px 0 0;border-top:1px solid $border-light;}

.footer.light{background: #fff; }
.footer.dark{background: $gray;border:0;}

.absolute-footer{padding: 35px 0;}
.absolute-footer.dark{background: url("../images/pattern1.jpg") repeat;  color: $font-color; font-size: 16px;}
.absolute-footer .left{float: none !important}
.absolute-footer .right{font-size: 90%}

.absolute-footer ul{margin: 0 0 20px;overflow: hidden;display: block; text-align: center;}
.absolute-footer ul li{list-style: none; padding:0 15px;border-bottom: 1px solid rgba(255,255,255,0.1);display: inline-block;
  background: url("../images/header_li_line.png") no-repeat center right;
}
.absolute-footer ul li:last-child{
  background: none;
}
.absolute-footer ul li a{display: block;padding-bottom: 5px;color: $font-color; font-size: 16px;}
.absolute-footer ul li a:hover{color: #000 !important;}
.copyright-footer{text-align: center}

